<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PCPDatabase"
         connectionString="Server=tcp:sentinel-telemetry-server.database.windows.net,1433;Initial Catalog=SentinelTelemetryV2;Persist Security Info=False;User ID=sentinel-telemetry-admin;Password='password1234!';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=1000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>